.credit-flex-container-s {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
}
  
.credit-flex-container-s h2 {
  color: #003366;
  margin-bottom: 20px;
}

.credit-flex-content-s {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.credit-flex-left-s, .credit-flex-right-s {
  width: 50%;
}

.credit-flex-left-s h3, .credit-flex-right-s h3 {
  color: #003366;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.credit-flex-left-s ul, .credit-flex-right-s ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.credit-flex-left-s ul li, .credit-flex-right-s ul li {
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.credit-flex-left-s li{
  padding-left: 20px;
}
.credit-flex-right-s{
  margin-top: 90px;
}
.credit-flex-left-s h3{
  margin-top: 100px;
  padding-left: 20px;
}

/* Adding custom bullet points */
.credit-flex-left-s ul li::before, .credit-flex-right-s ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #003366;
  border-radius: 50%;
}

.credit-flex-left-s img {
  max-width: 90%;
  height: 120%;
  display: block; /* Fixes alignment issues and removes extra space below images */
  margin-bottom: 20px;
}
.credit-flex-right-s img{
  max-width: 100%;
  height: auto;
  display: block; /* Fixes alignment issues and removes extra space below images */
  margin-top: 50px;
  margin-left:80px;
}

@media (max-width: 768px) {
  .credit-flex-content-s {
    flex-direction: column;
  }

  .credit-flex-left-s, .credit-flex-right-s {
    width: 100%;
  }
  
  .credit-flex-right-s {
    order: -1; /* Brings the right content above the left content */
  }
}
@media only screen and (max-width: 768px)  {
.credit-flex-right-s img{
  margin: 0px;
}}
@media only screen and (max-width: 768px)  {
  .credit-flex-right-s img ,.credit-flex-left-s img{
   display: none;
  }}

