.plans-container {
  text-align: center;
  padding: 20px;
  height: fit-content;
}

.plans-title {
  font-size: 24px;
  font-weight: bold;
  color: #2c3ce3;
  margin-bottom: 20px;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan-card {
  background: linear-gradient(135deg, #5f7db4, #cfdef3);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
}

.plan-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
}

.plan-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 24px;
  color: #2c3ce3;
  margin-bottom: 10px;
}

.divider {
  border: none;
  border-top: 2px solid #000;
  margin: 10px 0;
}

.plan-features {
  list-style: none;
  padding: 0;
}

.plan-features li {
  margin-bottom: 10px;
}

.plan-button {
  background: #2c3ce3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.plan-button:hover {
  background: #000dff;
  color: #fff;
}
