.cibil-score-guide {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
  font-family: 'Arial', sans-serif; /* Example font */
}

.columns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.column {
  flex: 4;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em; /* Larger font size */
  position: relative;
  padding-bottom: 10px;
}

.card h3:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card p {
  color: #666;
  text-align: justify;
  line-height: 1.6; /* Improved line spacing for readability */
}

/* Additional Styling */
.column:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .columns-container {
    flex-direction: column;
  }

  .column {
    margin: 0 0 20px 0;
  }
}
